.header {
  width: 100vw;
  background-color: #f3f0e3;
  display: flex;
  align-items: center;
}
a {
  color: #464646 !important;
  font-size: 1rem !important;
}
a:hover {
  color: black !important;
  font-weight: 600;
}

.navbar-collapse {
  flex-grow: 0 !important;
}
.navbar {
  width: 100%;
}
.Brand {
  font-weight: bold;
  color: black !important;
}
.com {
  color: rgb(255, 94, 0);
}
.logo {
  color: #198754 !important;
  font-size: 20px !important;
  background-color: #d1d1d1;
  border-radius: 20px;
  padding: 0 10px !important;
}
.logo-collapse {
  display: none !important;
}
@media screen and (max-width: 991px) {
  .logo {
    display: none !important;
  }
  .logo-collapse {
    display: initial !important;
    color: #198754 !important;
    font-size: 20px !important;
    margin-bottom: 10px;
    width: max-content;
  }
}
.call {
  font-size: 14px;
  padding-left: 5px;
}
